body {

  font-family: 'Montserrat', sans-serif;
  background-color: #EBEBEB;
  color: rgb(180,180,180);
  font-weight: lighter;
  background-repeat:no-repeat;
  background-image: linear-gradient(to right bottom, #966090, #9770a3, #9780b4, #978fc4, #979fd2, #98a8d9, #99b2df, #9cbbe5, #9dc0e8, #9fc5eb, #a1c9ee, #a3cef1);
  /*background-image: url("images/cloudy-day.jpg");*/
}

h1 {
  font-size: 30px;
  color: #A3CEF1/*#F45B69*/;
  font-weight: bold;
}

p {
  text-align: justify;
  line-height: 30px;

}

h2, h3 {
  font-size: 16px;
  color: rgb(180, 180, 180);
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
  color: rgb(180,180,180);
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: rgb(200,200,200);
}

a:hover {
  color: #A3CEF1;
  transition: all 0.5s ease-out;

}
.text-center {
  text-align: center;
}

.card {
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
  width: 50%;
  border-radius: 4px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.skillcards {
  display: flex;
}

.img-circle {
  border-radius: 50%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);

}

.btn-blue {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
 /* background-color: #A3CEF1;*/
  border-style: solid;
  border-color: #A3CEF1;
  font-weight: bold;
  color:#A3CEF1;
}
.btn-blue:hover {
  background-color: #A3CEF1;
  color: white;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}

.list-inline li i {
  font-size: 30px;
  font-weight: lighter;
}

td {
  padding: 20px;

}


#fav {
  padding-bottom: 40px;
  letter-spacing: 3px;
  font-size: 23px;
  /*font-weight:bolder;*/
  color: rgb(180,180,180);
}

.mvs-shadow {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);

}

.presentation {
  margin-bottom: 40px;
}

.achievement-content {
  /*display: flex;
  justify-content: space-between;*/
  /*width: 350px;*/
  width: fit-content;
}

p.achievement-text {
  text-align: text-center;
  border-left-color: #a3cef1;
  border-left-style: solid;
  padding: 5px;
  border-left-width: 7px;
  border-radius: 0px;
}

p.achievement-text:hover {
  /*background-color:#EBEBEB ;*/
  transition: all 0.5s ease-out;
  opacity: 1;
  font-size: 18px;
}
.achievement-photo {

  width: 100%;
  border-radius: 3px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 500px;
  }
}

ul {
  padding: 0;

}

.about {
  font-size: 12px;
}

